<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="/blog">Blog</a></li>
    <li class="active"><a ng-href="#resume">Resume</a></li>
    <li><a ng-href="#projects">Projects</a></li>
  </ul>
  <h2 class="text-muted">Eric Feng</h2>
</div>


<div class="cv">
  <div>
    <button ng-click="java  = 'java' ; ruby =''; linux = ''; javascript=''">Java</button>
    <button ng-click="ruby  = 'ruby' ; java =''; linux = ''; javascript=''">Ruby</button>
    <button ng-click="linux = 'linux'; java =''; ruby = ''; javascript=''">Linux</button>
    <button ng-click="javascript = 'javascript'; linux= ''; java =''; ruby = ''">JavaScript</button>
  </div>
  
  <h2>Eric Chienyuan Feng</h2>
  <p align="center"><a href="mailto:chienyuan.feng@gmail.com">chienyuan.feng@gmail.com</a></p>
  <p align="center"><font style="font-size: 11pt"><b>____________________________________________________________________________________________</b></font></p>
  <p  style="margin-bottom: 0in"><BR>
  </p>
  
  
  <h3>OBJECTIVE</h3>
  <p>To seek a challenging application developer position that utilizes my knowledge and experience in application development.</p>
  
  
  <h3 align="center">SUMMARY</h3>
  <p>IT Full Stack developer with over ten years of technical experience including 10 years of <span ng-class="java">Java</span> and 6 years of <span ng-class="ruby">Ruby On Rails</span> web development experience on  front and back-end systems, having a background of experience in C/C++, plus over 10 years experience with Unix/<span ng-class="linux">Linux</span> and very knowledgeable in TCP/IP network. For the past few years, also gained experience of Cloud Computing
  </p>
  
  
  <h3 align="center">CERTIFICATION</h3>
  <ul>
    <li ng-class="java" >Sun Certified Java Web Component Developer</li>
    <li ng-class="java" >Sun Certified Java Programmer</li>
    <li ng-class="java" >Sun Certified Java Developer</li>
    <li ng-class="linux">RHCT – Red Hat Certified Linux Technician</li>
    <li>Microsoft Certified Application Developer .NET</li>
  </ul>
  
  <h3 align="center">QUALIFICATIONS</h3>
  <ul>
    <li>
        <p><b>Skill</b> - <span ng-class="java">Java, Swing, J2EE, JSP</span>, HTML/CSS, SOAP/RESTful Web Services, PHP, <span ng-class='javascript'>JavaScript/JQuery/AngularJS</span>, <span ng-class="ruby">Ruby on Rails</span>, Unix Shell Script, Perl, Python, C/C++, Visual Basic, Assembly, UML,  XML,  C#, DHTML</p>
    <li><p><b>Package</b> - Git, IBM Rational Product, SCCS, CVS, Subversion, Eclipse, Ant, Tomcat, JBoss, WebSphere, Java Spring Framework, Nagios , Puppet, Graphite </p>
    <li><p><b>Database</b> - RDBMS, MySQL, DB2, Oracle , MS SQL Server, MS Access</p>
    <li><p><b>Platforms</b> - Cloud Computing, AWS, <span ng-class="linux">Linux</span>, VMWare Server, VMWare ESX, OpenStack, Solaris, Windows NT, 2000</p>
  </ul>
  
  <h3 align="center">EXPERIENCE</h3>
  
  <p class="work">Software Developer &amp; System Administrator</p>
  <p class="work">citytocitymarket.com, 02/2014 –Current</p>
  <ul>
    <li>Work as developer &amp; system administrator at citytocitymarket.com on AWS , pagodabox cloud environment.</p>
    <li>Implement new template theme for shopping cart ecommerce website using <span ng-class="ruby">Ruby on Rails </span>, HTML5, <span ng-class='javascript'>JavaScript/JQuery/AngularJS</span>, CSS3, MySQL , Nginx and <span ng-class="linux">Linux</span>. 
  </ul>
  <br/>
  
  <p class="work">Software Developer &amp; System Administrator</p>
  <p class="work">Infinite Computer Solutions (IBM), 06/2012 – 12/2013</p>
  <ul>
    <li>Work as developer &amp; system administrator at <a href="http://www.ibm.com/developerworks/downloads/?cmp=dw&cpb=dw&ct=dwcon&cr=devx&ccy=zz" target="balnk" >IBM Rational Sandbox</a> Project’s Server Team on cloud environment.</li>
    <li>Develop and maintain Resource Management System for automating provision WMWare image using <span ng-class="java">Java, Swing GUI</span>, WebSphere, DB2, shell script on Suse linux and window 2003 platform.</li>
    <li>Modify open source project gucamole HTML5 Clientless Remote Desktop to replace Citrix Metaframe for remote access Sandbox using Java, Tomcat and DB2.</li>
    <li>Develop python script to generate VNC password file to allow client remote login VM.</li>
    <li>Developed RESTful and SOAP web services  for requesting resource from IBM Developer World using <span ng-class='java'>Java, J2EE, Spring Framework, IBM WebSphere </span>and  DB2.</li>
    <li>Develop multi-tiered web management application for managing virtual machine resource using MySQL, DB2 , <span ng-class="ruby">Ruby on Rails</span> framework, unicorn, sidekiq, nginx, <span ng-class='javascript'>AngularJS/JQuery/JavaScript</span>, <span ng-class="ruby">capistrano, cucumber, guard,devise, cancan ...</span></li>
    <li>Prepare Window Server and <span ng-class="linux">Linux</span> Virtual Machines on OpenStack and VMWare ESXi Server&nbsp;infrastructure hosting IBM products for remote product demo access.</li>
    <li>Maintain all IBM Rational Sandbox hosts and virtual machines using Nagios, Graphite, Puppet.</li>
    <li>Perform all duties related to <span ng-class="linux">Linux</span> and Windows system administration including DHCP, DNS. NFS, user account maintenance, backup &amp; recovery,  TCP/IP Networking, Firewall setting and software installation.</li>
  </ul>
  
  <p class="work">Client Developer III </p>
  <p class="work">HRSmart, 11/2010 –06/2012</p>
  <ul>
    <li>Perform all duties related to trouble shooting and developed customized enhancement on existing HRSmart products - ATS, EPM, ERS, Survey using PHP, Perl and MySQL, Web Services, JQuery</li>
    <li>Developed the implementation of “super user” administration, historic data PDF generation, file feed integration and employee review scale rating, approval workflow, job opening/offer letter generation</li>
  </ul>
  
  <p class="work">Software Developer &amp; System Administrator </p>
  <p class="work">PFS Florist, 04/2009 –11/2010</p>
  <ul>
    <li>Design ,implement, and maintain online POS system using <span ng-class="ruby">Ruby on Rails</span> , Apache ,MySQL, <span ng-class="linux">Linux</span>.</li>
    <li>Developed thefloristschoice.com using <span ng-class="ruby">Ruby on Rails</span> and MySQL database.</li>
    <li>Extensively revised 200+ JSP pages (HTML, CSS, javaScript, <span ng-class='java'>Java Bean, JSTL and custom tags</span>) </li>
    <li>Migrate legacy <span ng-class="linux">Linux server</span> to Amazon Web Service Cloud environment. </li>
  </ul>
  
  <p class="work">System Administrator &amp; Software Developer </p>
  <p class="work">Netgel Consulting (IBM), 01/2006 – 03/2009</p>
  <ul>
    <li>Work as developer &amp; system administrator at IBM Rational Online Trials Project’s Server Team on cloud environment.</li>
    <li>Develop and maintain Resource Management System for automating provision WMware images using <span ng-class='java'>Java, Swing, Apache Web Server, WebSphere, </span>DB2, shell script on Suse linux and Windows 2003 platform.</li>
    <li>Wrote shell scripts to deploy VMWare Virtual Machine to VMWare ESX Server.</li>
    <li>Procured, installed and tested commercial software and operating system releases and updates.</li>
    <li>Customize Citrix Metaframe Server using HTML, <span ng-class='javascript'>JavaScript</span> &amp; C# on .NET platform.</li>
    <li>Develop Windows Utility tools for provisioning virtual machine using C++ with Microsoft Visual Studio.</li>
    <li>Develop web service for requesting resource from IBM Developer World using <span ng-class='java'>WebSphere</span>.</li>
    <li>Develop web management interface for managing virtual machine resource using DB2 and <span ng-class="ruby">Ruby on Rails</span> framework.</li>
    <li>Perform all duties related to <span ng-class="linux">Linux</span> and windows system administration including DHCP, DNS. NFS, user account maintenance, backup &amp; recovery, Auto-mounting,  Printer configuration , TCP/IP Networking,  software installation</li>
    <li>Support a <span ng-class="linux">Linux</span> environment of both Virtual and Physical servers</li>
    <li>Coordinate computer resources and support for multi service </li>
  </ul>
  <p class="work">System Administrator &amp; Software Developer </p>
  <p class="work">PFS Florist , 07/2004 – 01/2006</p>
  <ul>
    <li>Developed multi-tiered web application - order management system for user to perform search, data sort and to modify orders using <span ng-class='java'>Java, J2EE/Spring Framework, JDBC, Tomcat </span> ,<span ng-class='javascript'>JQuery/JavaScript</span> and MySQL.</li>
    <li>Develop List View Java Bean Component for generate HTML code to show table style list including navigation bar using Java, <span ng-class='javascript'>JavaScript</span>.</li>
    <li>Maintained and enhanced functionality of whenamanloveawomen.com and created an e-commerce portal using ColdFusion and MS SQL Server. </font></font>
    <li>Developed registration web service to integrate ColdFusion and <span ng-class='java'>Java</span> website.</li>
    <li>Developed Kiosk System using Java under <span ng-class="linux">Linux</span> provided multiple financial functions including ATM cash, Money transfer and check cashing. Job duty include USB and RS-232 Serial Driver for Card Reader and Receipt Printer, <span ng-class='java'>Swing GUI</span>, SQL Database access, network socket talk to AS400, Unix shell script , Python script , Ant build script, Eclipse IDE and  subversion.</li>
    <li>Perform all duties related to <span ng-class="linux">Linux</span> system administration and support</li>
  </ul>
  <p class="work">Software Developer</p>
  <p class="work"> Sonus Networks, Richardson, TX, 05/2000-04/2002 </p>
  <ul>
    <li>LNP - Participate in the project development of Local Number Portability (LNP) by using <span ng-class='java'>Java, Swing GUI</span>, CORBA/ObjectStore, C-Tree Database, JNI, Perl and Solaris OS.  Primary responsibilities include development of FileFormatter Server, FileViewer interfaces for sort and filtering on Data and enhancement on C-Tree database features.</li>
    <li>INIP Core-responsible for core development and debugging of INIP by using Java, ODBC on AP EMS OAMP Server and TimeTen database server to implement 2 Wire COT, AuthCode, Test Lines, Alternate Codec, IP Access Control, CAS trunk, ISDN Mime, LNP, ISDN features.</li>
    <li>DSM (Data Stream Manager) for GSX Record Merger Process – responsible for developing Daemon process using C++, shell script and Python to handle process fail over and case testing by using GSX CAM record generator. Develop network management system for DSM using JDMK.</li>
  </ul>
  
  <h3 align="center">EDUCATION</h3>
  <ul>
    <li>Texas A &amp; M University, Commerce, TX: M.S.  in Computer Science </li>
    <li>Intensive Computer Training Institute, Taipei, Taiwan: Diploma in Networking Programming</li>
    <li>Taiwan Chung-Hsing University, TaiChung, Taiwan: Bachelor of Science</li>
  </ul>
  <div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> from Eric Feng</p>
  </div>
  
</div><!-- cv -->

