<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#projects">Projects</a></li>
  </ul>
  <h3 class="text-muted">Eric Feng</h3>
</div>


<div class="cv">

<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT FACE="Verdana, serif"><FONT SIZE=4><B>Eric Chienyuan Feng</B></FONT></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT COLOR="#0000ff"><SPAN LANG="en-US"><U><A HREF="mailto:chienyuan.feng@gmail.com"><FONT FACE="Verdana, serif">chienyuan.feng@gmail.com</FONT></A></U></SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><B>____________________________________________________________________________________________</B></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>


<h3 align="center">OBJECTIVE</h3>
<p>To seek a challenging application developer position that utilizes my knowledge and experience in application development.</p>


<h3 align="center">SUMMARY</h3>
<P>IT Full Stack developer with over ten years of technical experience including 10 years of Java and 6 years of Ruby On Rail web development experience on  front and back-end systems, having a background of experience in C/C++, plus over 10 years experience with Unix/Linux and very knowledgeable in TCP/IP network. For the past few years, also gained experience of Cloud Computing
</P>


<h3 align="center">CERTIFICATION</h3>
<ul>
  <li>Sun Certified Java Web Component Developer</li>
  <li>Sun Certified Java Programmer</li>
  <li>Sun Certified Java Developer</li>
  <li>RHCT – Red Hat Certified Linux Technician</li>
  <li>Microsoft Certified Application Developer .NET</li>
</ul>

<h3 align="center">QUALIFICATIONS</h3>
<UL>
	<LI><P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Verdana, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Skill</B></FONT></FONT><FONT FACE="Verdana, serif"><FONT SIZE=2 STYLE="font-size: 11pt">-
	Java, Swing, J2EE, HTML/CSS, SOAP/RESTful Web Services,  PHP,
	JavaScript / JQuery/ AngularJS,  Ruby on Rails, Unix Shell Script,
	Perl, Python, C/C++, Visual Basic, Assembly, UML,  XML, J2EE, JSP, 
	C#, DHTML</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Verdana, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Package</B></FONT></FONT><FONT FACE="Verdana, serif"><FONT SIZE=2 STYLE="font-size: 11pt">-
	Git, IBM Rational Product, SCCS, CVS, Subversion, Eclipse, Ant,
	Tomcat, JBoss, WebSphere, Java Spring Framework, Nagios , Puppet,
	Graphite </FONT></FONT>
	</P>
	<LI><P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Verdana, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Database</B></FONT></FONT><FONT FACE="Verdana, serif"><FONT SIZE=2 STYLE="font-size: 11pt">-
	RDBMS, MySQL, DB2, Oracle , MS SQL Server, MS Access</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Verdana, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Platforms</B></FONT></FONT><FONT FACE="Verdana, serif"><FONT SIZE=2 STYLE="font-size: 11pt">-
	Cloud Computing, AWS, Linux, VMWare Server, VMWare ESX, OpenStack,
	Solaris, Windows NT, 2000</FONT></FONT></P>
</UL>


<h3 align="center">EXPERIENCE</h3>

<P STYLE="margin-left: 0.5in;margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><B><FONT FACE="Verdana, serif">Software Developer &amp; System Administrator  </FONT></B></FONT>
<P STYLE="margin-left: 0.5in;margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><B><FONT FACE="Verdana, serif">citytocitymarket.com, 02/2014 –Current</FONT></B></FONT></P>
<UL>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Work as developer &amp; system administrator at citytocitymarket.com on AWS , pagodabox cloud environment.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Implement new template theme for shopping cart ecommerce website using Ruby on Rails , HTML5, JavaScript, CSS3, MySQL , Nginx and Linux. </FONT></FONT>
	</P>
</UL>
<br/>

<P STYLE="margin-left: 0.5in; margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><B><FONT FACE="Verdana, serif">Software Developer &amp; System Administrator</FONT></B></FONT></P>
<P STYLE="margin-left: 0.5in; margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><B><FONT FACE="Verdana, serif">Infinite Computer Solutions (IBM), 06/2012 – 12/2013</FONT></B></FONT></P>
<UL>
	<LI><P STYLE="margin-bottom: 0in"><A NAME="__DdeLink__123_17486796"></A>
	<FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Work
	as developer &amp; system administrator at <a href="http://www.ibm.com/developerworks/downloads/?cmp=dw&cpb=dw&ct=dwcon&cr=devx&ccy=zz" target="balnk" >IBM Rational Sandbox</a>
	Project’s Server Team on cloud environment.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Develop
	and maintain Resource Management System for automating provision
	WMWare image using Java, Swing GUI, WebSphere, DB2, shell script on
	Suse linux and window 2003 platform.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Modify
	open source project gucamole HTML5 Clientless Remote Desktop to
	replace Citrix Metaframe for remote access Sandbox using Java,
	Tomcat and DB2. </FONT></FONT>
	</P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Develop
	python script to generate VNC password file to allow client remote
	login VM.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Developed
	RESTful and SOAP web services  for requesting resource from IBM
	Developer World using Java, J2EE, Spring Framework, IBM WebSphere
	and  DB2.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Develop
	multi-tiered web management application for managing virtual machine
	resource using MySQL, DB2 , ruby on rails framework, unicorn,
	sidekiq, nginx, AngularJS/JQuery/JavaScript, capistrano, cucumber,
	guard,devise, cancan, :.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Prepare
	Window Server and Linux Virtual Machines on OpenStack and VMWare
	ESXi Server&nbsp;infrastructure hosting IBM products for remote
	product demo access. </FONT></FONT>
	</P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Maintain
	all IBM Rational Sandbox hosts and virtual machines using Nagios,
	Graphite, Puppet. </FONT></FONT>
	</P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Perform
	all duties related to </FONT><FONT FACE="Verdana, serif"><SPAN STYLE="font-weight: normal">Linux
	</SPAN></FONT><FONT FACE="Verdana, serif">and Windows system
	administration including DHCP, DNS. NFS, user account maintenance,
	backup &amp; recovery,  TCP/IP Networking, Firewall setting and 
	software installation</FONT></FONT></P>
</UL>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-left: 0.5in; text-indent: 0.01in; margin-bottom: 0in">
<FONT SIZE=2 STYLE="font-size: 11pt"><B><FONT FACE="Verdana, serif">Client
Developer III </FONT></B></FONT>
</P>
<P STYLE="margin-left: 0.5in; margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><B><FONT FACE="Verdana, serif">HRSmart,
11/2010 –06/2012</FONT></B></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<UL>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Perform
	all duties related to trouble shooting and developed customized
	enhancement on existing HRSmart products - ATS, EPM, ERS, Survey
	using PHP, Perl and MySQL, Web Services, JQuery</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Developed
	the implementation of “super user” administration, historic data
	PDF generation, file feed integration and employee review scale
	rating, approval workflow, job opening/offer letter generation</FONT></FONT></P>
</UL>
<P STYLE="margin-left: 0.5in; margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-left: 0.5in; margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><B><FONT FACE="Verdana, serif">Software
Developer &amp; System Administrator </FONT></B></FONT>
</P>
<P STYLE="margin-left: 0.5in; margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><B><FONT FACE="Verdana, serif">PFS
Florist, 04/2009 –11/2010</FONT></B></FONT></P>
<UL>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Design
	,implement, and maintain online POS system using Ruby on Rails ,
	Apache ,MySQL, Linux.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Developed
	thefloristschoice.com using Ruby on Rails and MySQL database.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Extensively
	revised 200+ JSP pages (HTML, CSS, javaScript, Java Bean, JSTL and
	custom tags) </FONT></FONT>
	</P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Migrate
	legacy Linux server to Amazon Web Service Cloud environment. </FONT></FONT>
	</P>
</UL>
<P STYLE="margin-left: 0.5in; text-indent: 0.01in; margin-bottom: 0in">
<BR>
</P>
<P STYLE="margin-left: 0.5in; text-indent: 0.01in; margin-bottom: 0in">
<FONT SIZE=2 STYLE="font-size: 11pt"><B><FONT FACE="Verdana, serif">System
Administrator &amp; Software Developer </FONT></B></FONT>
</P>
<P STYLE="margin-left: 0.5in; margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><B><FONT FACE="Verdana, serif">Netgel
Consulting</FONT> (<FONT FACE="Verdana, serif">IBM), 01/2006 –
03/2009</FONT></B></FONT></P>
<P STYLE="margin-left: 0.5in; margin-bottom: 0in"><BR>
</P>
<UL>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Work
	as developer &amp; system administrator at IBM Rational Online
	Trials Project’s Server Team on cloud environment.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Develop
	and maintain Resource Management System for automating provision
	WMware images using Java, Swing, Apache Web Server, WebSphere, DB2,
	shell script on Suse linux and Windows 2003 platform.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Wrote
	shell scripts to deploy VMWare Virtual Machine to VMWare ESX Server.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Procured,
	installed and tested commercial software and operating system
	releases and updates.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Customize
	Citrix Metaframe Server using HTML, JavaScript &amp; C# on .NET
	platform.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Develop
	Windows Utility tools for provisioning virtual machine using C++
	with Microsoft Visual Studio.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Develop
	web service for requesting resource from IBM Developer World using
	WebSphere.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Develop
	web management interface for managing virtual machine resource using
	DB2 and ruby on rails framework.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Perform
	all duties related to </FONT><FONT FACE="Verdana, serif"><SPAN STYLE="font-weight: normal">Linux
	and windows </SPAN></FONT><FONT FACE="Verdana, serif">system
	administration including DHCP, DNS. NFS, user account maintenance,
	backup &amp; recovery, Auto-mounting,  Printer configuration ,
	TCP/IP Networking,  software installation</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Support
	a Linux environment of both Virtual and Physical servers</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Coordinate
	computer resources and support for multi service </FONT></FONT>
	</P>
</UL>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-left: 1in; margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-left: 0.5in; text-indent: 0.01in; margin-bottom: 0in">
<FONT SIZE=2 STYLE="font-size: 11pt"><B><FONT FACE="Verdana, serif">System
Administrator &amp; Software Developer </FONT></B></FONT>
</P>
<P STYLE="margin-left: 0.5in; margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><B><FONT FACE="Verdana, serif">PFS
Florist , 07/2004 – 01/2006</FONT></B></FONT></P>
<P STYLE="margin-left: 0.5in; margin-bottom: 0in"><BR>
</P>
<UL>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Developed
	multi-tiered web application - order management system for user to
	perform search, data sort and to modify orders using Java,
	J2EE/Spring Framework,  JQuery/JavaScript, JDBC, Tomcat and MySQL.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Develop
	List View Java Bean Component for generate HTML code to show table
	style list including navigation bar using Java, JavaScript.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Maintained
	and enhanced functionality of whenamanloveawomen.com and created an
	e-commerce portal using ColdFusion and MS SQL Server. </FONT></FONT>
	</P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Developed
	registration web service to integrate ColdFusion and Java website.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Developed
	Kiosk System using Java under Linux provided multiple financial
	functions including ATM cash, Money transfer and check cashing. Job
	duty include USB and RS-232 Serial Driver for Card Reader and
	Receipt Printer, Swing GUI, SQL Database access, network socket talk
	to AS400, Unix shell script , Python script , Ant build script,
	Eclipse IDE and  subversion.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">Perform
	all duties related to Linux system administration and support</FONT></FONT></P>
</UL>
<P STYLE="margin-left: 1in; margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-left: 1in; text-indent: -0.25in; margin-bottom: 0in">
<BR>
</P>
<P STYLE="margin-left: 0.5in; margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><B><FONT FACE="Verdana, serif">Software
Developer </FONT></B></FONT>
</P>
<P CLASS="western" STYLE="margin-left: 0.5in; margin-bottom: 0in"><FONT FACE="Verdana, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Sonus
Networks, Richardson, TX, 05/2000-04/2002	</B></FONT></FONT></P>
<P CLASS="western" STYLE="margin-left: 0.5in; margin-bottom: 0in"><FONT FACE="Verdana, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>		</B></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">LNP</FONT><FONT FACE="Verdana, serif"><B>-
	</B></FONT><FONT FACE="Verdana, serif">Participate in the project
	development of Local Number Portability (LNP) by using Java, Swing
	GUI, CORBA/ObjectStore, C-Tree Database, JNI, Perl and Solaris OS.
	Primary responsibilities include development of FileFormatter
	Server, FileViewer interfaces for sort and filtering on Data and
	enhancement on C-Tree database features.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">INIP
	Core-responsible for core development and debugging of INIP by using
	Java, ODBC on AP EMS OAMP Server and TimeTen database server to
	implement 2 Wire COT, AuthCode, Test Lines, Alternate Codec, IP
	Access Control, CAS trunk, ISDN Mime, LNP, ISDN features.</FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in"><FONT SIZE=2 STYLE="font-size: 11pt"><FONT FACE="Verdana, serif">DSM
	(Data Stream Manager) for GSX Record Merger Process – responsible
	for developing Daemon process using C++, shell script and Python to
	handle process fail over and case testing by using GSX CAM record
	generator. Develop network management system for DSM using JDMK.</FONT></FONT></P>
</UL>
<P STYLE="margin-left: 1in; margin-bottom: 0in"><BR/></P>

<h3 align="center">EDUCATION</h3>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>
<UL>
	<LI><P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Verdana, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Texas
	A &amp; M University, Commerce, TX: </B></FONT></FONT><FONT FACE="Verdana, serif"><FONT SIZE=2 STYLE="font-size: 11pt">M.S.
	in Computer Science </FONT></FONT>
	</P>
	<LI><P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Verdana, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Intensive
	Computer Training Institute, Taipei, Taiwan: </B></FONT></FONT><FONT FACE="Verdana, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Diploma
	in Networking Programming</FONT></FONT></P>
	<LI><P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Verdana, serif"><FONT SIZE=2 STYLE="font-size: 11pt"><B>Taiwan
	Chung-Hsing University, TaiChung, Taiwan: </B></FONT></FONT><FONT FACE="Verdana, serif"><FONT SIZE=2 STYLE="font-size: 11pt">Bachelor
	of Science</FONT></FONT></P>
</UL>
    <div class="footer">
      <p><span class="glyphicon glyphicon-heart"></span> from Eric Feng</p>
    </div>

</div>

