<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#resume">Resume</a></li>
    <li class="active"><a ng-href="#projects">Projects</a></li>
  </ul>
  <h2 class="text-muted">Eric Feng</h2>
</div>

<div class="jumbotron">
  <h2>Projects</h2>
  <ul>
    <li><p><a ng-href="http://chienyuan.github.com/2048" target="blank">2048 clone</a></p></li>
    <li><p><a ng-href="http://chienyuan.github.com/guesser" target="blank">Guesser</a></p></li>
  </ul>
</div>

<div class="row marketing">
  <h4></h4>
  <p>
  </p>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from Eric Feng</p>
</div>
